/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017/11/24, 下午 04:55:40
    Author     : chenzhiyuan
*/




.form{
    margin:0px auto;
    text-align:center;
}
 

.injumbotron {
	text-align:center;
	margin-top:30px;
}

.input {
	width:400px;
	margin:10px auto;
}


.feed {
	width:600px;
	margin:10px auto;
	padding:10px;
	 border: 5px solid grey;
} 

.feedbuttonblock {
	display: flex;
    justify-content: space-between;
}

.feedbutton {
	margin:0 5px;	
}


.feedtitle {
	display: flex;
    justify-content: space-between;
}

 

.output {
	margin:10px 20px;
}

  
.login{
    width:400px;
}

 


.navbarbutton{
    color: #9d9d9d;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    position: relative;
    display: block; 
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: auto;
    text-align: -webkit-match-parent;
    border-style:none;
}

.navbarbutton:hover{
    color: white;
}



#fb-btn {
    margin-top: 20px;
}

#fb-welcome, #logout, #share, #friendpage, #toppage {
    display: none
}